/* Styling for the header section */
header {
  position: relative;
  background-image: url('https://cdn.pixabay.com/photo/2015/05/04/10/16/vegetables-752153_640.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* Styling for the heading text within the header */
h1 {
  position: absolute;
  bottom: 10px;
  color: beige;
  font-family: 'Cedarville Cursive', cursive;
}
