<!-- Importing Google Fonts for the page -->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Josefin+Sans:ital@1&display=swap');
</style>

<!-- Navigation bar component -->
<nav class="navbar">
    <!-- Left section with "User" and "Owner" links -->
    <div class="nav-left">
      <li class="nav-item-left" (click)="switchPerspective('user')">Användare</li>
      <li class="nav-item-left" (click)="switchPerspective('owner')">Ägare</li>
    </div>

    <!-- "Add new post" button visible for owners -->
    <div class="add-post" *ngIf="isOwner && blogService.isOwnerPerspective()">
      <button (click)="addNewPostClick()">Skapa nytt inlägg</button>
    </div>

    <!-- Centered navigation links -->
    <div class="nav-center-container">
      <li class="nav-item"><a routerLink="/about">Om mig</a></li>
      <li class="nav-item"><a routerLink="/user">Hem</a></li>
    </div>
</nav>
