<!-- Container for displaying a list of blog posts -->
<div class="blog-post-container">
  <!-- Loop through each blog post in the blogPosts array -->
  <div *ngFor="let post of blogPosts; let i = index" class="blog-post-wrapper" [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0}">
    <!-- Display the title of the blog post -->
    <h2>{{ post.title }}</h2>
    
    <!-- Display the thumbnail image of the blog post -->
    <img class="img" [src]="post.thumbnailUrl" alt="{{ post.title }}">
    
    <!-- Container for buttons related to each blog post -->
    <div class="button-container">
      <!-- Button to view more details of the blog post, displayed if the post has an ID -->
      <button class="view-details" *ngIf="post.id !== undefined" (click)="viewPostDetails(post.id)">Läs mer</button>
      
      <!-- Container for the delete button, displayed if the user is the owner and in owner perspective -->
      <div class="delete-post" *ngIf="isOwner && blogService.isOwnerPerspective()">
        <!-- Button to delete the blog post -->
        <button (click)="deletePost(post.id)">Radera inlägg</button>
      </div>
    </div>
  </div>
</div>
